/*  skin/toolbar-button.css  */
#image-pick-button {
    list-style-image: url("chrome://imagepicker/skin/img-picker_24.png");
}

toolbar[iconsize ="small"] #image-pick-button {
    list-style-image: url("chrome://imagepicker/skin/img-picker_16.png");
}

.image-cell {
    margin: 5px;
    border: #98989A solid 1px;
    background-color: #F3F3F3;
}

.image-cell-highlight {
  -moz-box-shadow: 0 0 2px 1px rgba(40, 120, 212, 0.7) inset, 0 0 3px 1px #2878D4, 0 1px 2px rgba(0, 0, 0, 0.7) inset;
}

.image-cell-selected  {
   border:#316AC5 solid 1px;
}

.image-box {
    margin: 5px;
}

.image-cell-selected .image-box {
    -moz-box-shadow: 3px 3px 5px black;
    padding-bottom: 3px;
}

.note {
  padding: 2px 0px 3px 0px;
  margin-top: 20px;
  font-weight: bold;
}