/*  skin/toolbar-button.css  */
.ip-buttons {
    list-style-image: url("chrome://imagepicker/skin/img-picker_16.png");
}

toolbar[iconsize ="large"] .ip-buttons {
    list-style-image: url("chrome://imagepicker/skin/img-picker_24.png");
}

.ip-button-1 {
    list-style-image: url("chrome://imagepicker/skin/img-picker-p1_16.png");
}

toolbar[iconsize ="large"] .ip-button-1 {
    list-style-image: url("chrome://imagepicker/skin/img-picker-p1_24.png");
}

.ip-button-all {
    list-style-image: url("chrome://imagepicker/skin/img-picker-all_16.png");
}

toolbar[iconsize ="large"] .ip-button-all {
    list-style-image: url("chrome://imagepicker/skin/img-picker-all_24.png");
}

.ip-button-right {
    list-style-image: url("chrome://imagepicker/skin/img-picker-right_16.png");
}

toolbar[iconsize ="large"] .ip-button-right {
    list-style-image: url("chrome://imagepicker/skin/img-picker-right_24.png");
}

.ip-button-left {
    list-style-image: url("chrome://imagepicker/skin/img-picker-left_16.png");
}

toolbar[iconsize ="large"] .ip-button-left {
    list-style-image: url("chrome://imagepicker/skin/img-picker-left_24.png");
}

.dynamic-pick-menu-item {
    list-style-image: url("chrome://imagepicker/skin/light_16.png");
}

/*  css for image cell  */
.image-cell {
    margin: 5px;
    border: #98989A solid 1px;
    background-color: #F3F3F3;
}

.image-cell-highlight {
  -moz-box-shadow: 0 0 2px 1px rgba(40, 120, 212, 0.7) inset, 0 0 3px 1px #2878D4, 0 1px 2px rgba(0, 0, 0, 0.7) inset;
}

.image-cell-selected  {
   border:#62B8C6 solid 1px;
}

/*  css for image box  */
.image-box {
    margin: 4px;
}

.image-cell-selected .image-box {
   /*  -moz-box-shadow: 3px 3px 5px black;   */
}

/*  css for additional info box, not use  */
.ad-box {
    margin-bottom: 0px;
}

/*  css for checkbox, not use  */
.image-cell checkbox {
    margin-bottom: 0px;
}

.note {
  padding: 2px 0px 3px 0px;
  margin-top: 20px;
  font-weight: bold;
}